{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-dynamic-require": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": false,
      "optionalDependencies": false
    }]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "experimentalObjectRestSpread": true,
    "jsx": true
  }
}
